<div class="center">
  <div>
    <h1> View Student Details</h1>
    <div style="margin-top: 10%; font-size: 18px;">
        <div>
            <label> <b> Name: </b></label> {{student?.name}}
        </div>
        <div>
            <label> <b> Email Id: </b></label> {{student?.email}}
        </div>
        <div>
          <label> <b> PhoneNumber: </b></label> {{student?.phoneNumber}}
        </div>
        <div>
        <label> <b> Age: </b></label> {{student?.age}}
        </div>
        <div>
          <label> <b> Date: </b></label> {{student?.date}}
        </div>
        <div>
          <label> <b> Gender: </b></label> {{student?.gender}}
        </div>
    </div>
  </div>
</div>
