<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <form class="form-inline">
    <button class="btn btn-outline-secondary" style="background-color: white;">
      <a routerLink="students" routerLinkActive="active" class="nav-link" style="color: black;">
        Student List
      </a>
    </button>
    <button class="btn btn-outline-secondary" style="background-color: white;">
      <a routerLink="create-student" routerLinkActive="active" class="nav-link" style="color: black;">
        Add Student
      </a>
    </button>
  </form>
</nav> -->
<router-outlet></router-outlet>
  <!-- <ul class = "navbar-nav">
      <li class = "nav">
          <button class="btn btn-sm btn-outline-secondary">
            <a routerLink="students" routerLinkActive="active" class="nav-link" style="color: black;" >
              Student List
            </a>
          </button>
      </li>
      <li class = "nav">
          <button class="btn btn-sm btn-outline-secondary"><a routerLink="create-student" routerLinkActive="active" class="nav-link" style="color: black;">Add Student</a></button>
      </li>
  </ul> -->


